<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.skgezhil.allinone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/icon1"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon1_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Medical" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Info" />
        <activity android:name=".ScanActivity" />
        <activity android:name=".BarcodeScanner" />
        <activity android:name=".Pedometer" />
        <activity android:name=".Tour" />
        <activity android:name=".Education" />
        <activity android:name=".Food" />
        <activity android:name=".Tickets" />
        <activity android:name=".Shopping" />
        <activity android:name=".Webviewer" />
        <activity android:name=".SocialMedia" />
        <activity android:name=".Compass" />
        <activity android:name=".sensorActivity" />
        <activity
                android:name=".MainActivity"
                android:noHistory="true" />

        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-7716695643466392~5649547509" />
    </application>

</manifest>